@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:300,400,500,700');

$inner-width: 60em;
$html-background: #eee;
$body-background: #fff;

html {
  width: 100%;
  background-color: $html-background;

  body {
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: Roboto, sans-serif;
    font-size: 16px;

    a {
      outline: none;
    }

    #content {
      width: 100%;
      max-width: $inner-width;
      margin: 4rem auto 2rem;
      background-color: $body-background;
      display: grid;
      grid-template-columns: 2fr 1fr;
      grid-template-rows: auto;
      // height: calc(100vh - 2 * 2rem);

      main {
        padding: 1rem;
        // background-color: orange;

        .full-name {
          display: inline-block;
          margin: 0;
          padding: .25rem;
          background-color: #444;
          color: #fff;
          border-radius: .25rem;
          box-shadow: 0 10px 6px -6px #777;
        }

        .job-title {
          display: inline-block;
          font-size: 1.2rem;
          font-weight: normal;
          margin: .25rem 0 0;
          padding: .25rem;
          background-color: #444;
          color: #fff;
          border-radius: .25rem;
          box-shadow: 0 10px 6px -6px #777;
        }

        .intro {
          p {
            font-size: 1rem;
            font-weight: 300;
            text-align: justify;
            line-height: 1;
            margin: .75rem 0;
          } // p
        } // .intro

        .section-title {
          font-weight: 300;
          padding: .25rem 0;
          border-bottom: 1px solid #333;
        } // .section-title

        .item-prof-exp,
        .item-educ {
          padding: 1rem;
          margin: .5rem 0;
          border-radius: .5rem;
          background-color: #ddd;
          box-shadow: 0 10px 6px -6px #777;

          .item-title {
            font-size: 1.2rem;
            font-weight: 600;
            color: #333;
          } // .item-title

          .item-subtitle {
            font-size: .9rem;
            font-weight: 400;
            color: #555;
          } // .item-title

          .item-dates {
            font-family: 'Open Sans', sans-serif;
            font-size: .7rem;
            color: #777;

            span {
              font-weight: bold;
            } // span
          } // .item-dates

          .item-desc {
            color: #444;
            font-family: 'Open Sans', sans-serif;
            font-size: .9rem;
            line-height: 1;
            text-align: justify;
            margin: .5rem 0;

            &:last-child {
              margin-bottom: 0;
            } // &:last-child
          } // .item-desc
        } // .item-prof-exp
      } // main

      aside {
        text-align: right;
        background-color: #aaa;
        // padding: 1rem;

        .aside-inner {
          padding: 0 1rem 1rem 1rem;
        } // .aside-inner

        .profile-wrapper {
          background-image: url(../img/header-cv.png);
          background-position: center;
          background-size: 150%; //cover;
          background-repeat: no-repeat;
          height: 150px;
          padding: 1rem 0;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          // background-color: #fff;

          .profile {
            display: inline-block;
            width: 50%;
            border-radius: 50%;
          } // .profile
        } // .profile-wrapper

        .section-title {
          font-weight: 300;
          padding: .25rem 0;
          border-bottom: 1px solid #333;
        } // .section-title

        .contact {
          margin: 0;
          padding: 0;
          list-style: none;

          li {
            font-size: .9rem;
            color: #333;

            span {
              display: inline-block;
              width: 1rem;
              // margin-right: .5rem;
              margin-left: .5rem;
              text-align: center;
              // background-color: #fff;
            } // span

            a {
              color: #333;
              text-decoration: none;

              &.underline {
                text-decoration: underline;
              } // &.underline
            } // a
          } // li
        } // .contact

        .skill {
          display: inline-block;
          background-color: #222;
          color: #fff;
          border-radius: .25rem 0;
          padding: .5rem;
          margin: 0 0 .45rem .25rem;

          .title {
            font-family: 'Roboto Mono', monospace;
            font-size: .9rem;
            font-weight: 600;
            text-align: center;
            border-bottom: 1px solid #bbb;
            // text-transform: uppercase;
          } // .title

          .level {
            font-size: .8rem;
            color: #bbb;
            text-align: center;
          } // .level
        } // .skill

      } // aside

      // img {
      //   display: block;
      //   width: 100%;
      // }

    } // #content

  } // body
} // html
